<%= render "page/nav"%>

<!--Home Courosol slide-->
<div class="d-block w-100">
  <%=render "page/home_slider" %>
</div>

<!--Text scroller-->
<div class="d-block w-100">
  <%=render "page/text_scroll" %>
</div>

<!--All Notices-->
  <div class="container">
    <div class="row">
<!--      <div class="col-4">-->
<!--        <img src="/assets/1.jpg" class="img-thumbnail">-->
<!--        <p>Cvasu Main Campus</p>-->
<!--      </div>-->
      <div class="col-12"><%=render "page/all_notice" %></div>
    </div>
  </div>

<!--Card-->
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
    </li>
  </ul>
  <div class="tab-content ">
    <div class="tab-pane container active" id="home">
      <%= render "page/card" %>
    </div>
  </div>

</div>
