<div class="container">
  <%= render "page/nav"%>
</div>

<div class="d-block w-100">
  <%=render "page/home_slider" %>
</div>

<div class="container">
  <%=render "page/text_scroll" %>
</div>


  <div class="container">
    <div class="row">
      <div class="col col-4"><%=image_tag "1.jpg" %></div>
      <div class="col col-8"><%=render "page/all_notice" %></div>
    </div>
  </div>


